body {
    background-image: url('chalkboard.jpg');
    display: flex;
    flex-direction: column;
}
.container {
    justify-content: center;
}
.letterClass {
    height: 50px;
    width: 50px;
    background-color: rgb(52, 55, 58);
    color:snow;
    font-weight: bold;
}
.hanger {
    background-color: aliceblue;
    margin: auto;
}

.underscores {
    justify-content: center;
}


.bigLine{
    padding-top: 100px;
}


.alphabet {
    width: 700px;
    padding-top: 100px;
}
